@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');
h1{
  font-family: 'Satisfy', cursive;
}

legend{
  text-align: center;
  padding: 2rem;
}
.form-container{
  display: flex;
  justify-content: center;
  align-content:center;
}
.form,.account{
  width: 500px;
  height: auto;
  border: 1px solid #000;
  background-color: #F7F6F2;
  margin: 3rem auto 0 auto;
}
.content, .extra{
  margin: 2rem 2rem;
}
.button{
  margin: 2rem 0;
}

.image{
  margin-top: 2rem !important;

}
.image img{
  height: 500px;
}
/* #body,#headline{
  background-color: #000 !important;
} */
.feed-photo{
  width: 100%;
  height: auto;
  
}
.head-photo{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
  
}
.feedhead-info{
  border: 4px solid #ff4e50;
  width: 59px;
  height: 59px;
  border-radius: 50%;
}
.top-flex{
  display: flex;
  justify-content: space-around;
  position: sticky;
}

.header{
  padding: 2rem 2rem;
}
.feed-content{
  border: 1px solid #888784;
  margin: 1rem 0;
}
.top-header{
  margin-top: 2rem;
}
a{
  color: #000;
  text-decoration: none;
}
.profile-pic{
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.profile-info,.profile-row,.following{
  display: flex;
}
.edit-profile{
  margin: 0 2rem;

}

.profile{
  align-self: center;
  align-content: center;
}
.profile p{
  font-weight: 900;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
.num{
  text-align: center;
}
.num-post{
  margin-top: 2.7rem;
}
.following{
  margin: 2rem 0;
}
.follower{
  margin: 0 2rem;
}
.user-images{
  width: 200px;
  height: auto;
}
.button{
  margin: 2rem 0;
}
i{
  font-size: 1.5rem;
  margin: .5rem;
}