
{% extends 'feed/base.html' %}

{% load static %}
{% block content %}

<section id="top">
  <div class="container">
    <div class="top-header">
      <div class="top-flex">
       <a href=""><h1>Instagram</h1></a> 
        <div class="search">
          <form action="">
            <input type="search" placeholder="search">
          </form>
  
        </div>
        <div class="icon">
          <a href=""><i class="fas fa-house-user"></i></a>
          <a href=""><i class="far fa-comment-dots"></i></a>
          <a href=""><i class="far fa-heart"></i></a>
        </div>
      </div>
     
    </div>
  </div><hr>
</section>
{% for post in posts %}
  <section id="headline">
    <div class="header">
      <div class="feed-info">
        <img class = 'head-photo'src="{{post.image.url}}" alt="">
       </div>
    </div>
  </section>
  
  
  <section id = "body">
    <div class="row">
      <div class="col-md-7">
        <div class="feed-content">
          <div class="profile">
            <p>{{post.profile}}</p>
          </div>
          <div class="feed-info">
            <img class = 'feed-photo'src="{{post.image.url}}" alt="">
           </div>
           <div class="feed-info">
            <a href=""><i class="far fa-heart"></i></a>
            <a href=""><i class="far fa-comment-dots"></i></a>
            <a href=""><i class="fas fa-external-link-alt"></i></a>
            <div class="likes">
              
            </div>
            <div class="comments">
              <a href = "" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                view all comments
              </a>
              
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">{{post.profilr}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="feed-info">
                        <img class = 'feed-photo'src="{{post.image.url}}" alt="">
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-comment">
              <form action="">
                <input type="text"class = form-control>
              </form>
            </div>
           </div>
        </div>
       
      </div>
      <div class="col-md-5">
        <div class="profile">
          <h3></h3>
        </div>
        <div class="you">
          <h2 class = "text-center">Suggestion for you</h2>
        </div>
      </div>
    </div>
    
  </section>


{% endfor %}

 
{% endblock %}