{% extends 'feed/base.html' %}


{% block content %}
<section id="top">
  <div class="container">
    <div class="top-header">
      <div class="top-flex">
       <a href="{% url 'feed' %}"><h1>Instagram</h1></a> 
        <div class="search">
          <form action="">
            <input type="search" placeholder="search">
          </form>
  
        </div>
        <div class="icon">
          <a href="{% url 'feed' %}"><i class="fas fa-house-user"></i></a>
          <a href="{% url 'post' %}"><i class="fas fa-plus-circle"></i></a>
          <a href=""><i class="fas fa-paper-plane"></i></a>
          <a href=""><i class="far fa-compass"></i></a>
          <a href=""><i class="far fa-heart"></i></a>
          <a href="{% url  'profile'%}"><i class="fas fa-user-circle"></i></a>
        </div>
      </div>
     
    </div>
  </div><hr>
</section>
{% endblock %}