{%  extends 'feed/base.html'%}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
  <div class="form-container">
    <div class="form">
      <div class="content">
        <form method="POST">
          {% csrf_token %}
          <fieldset class = 'form-group'>
            <legend class = "border-bottom mb-4">
              <h1>INSTAGRAM</h1>
              <h4 class = "text-muted">Sign up to see photos and videos from your friends.</h4>
            </legend>
            {{form|crispy}}
            <div class = ' button d-grid'>
              <button class="btn btn-lg btn-primary" type = submit>
                Sign Up
              </button>
      
            </div>
      
          </fieldset>
        </form>
        
      </div>
      
    </div>
    
  </div>
  <div class = ' account border-top pt-3'>
    <small class=" etxra text-muted">
      Have an acount? <a href="{% url 'login' %}" class="ml-2"> Log In</a>
    </small>

  </div>
  
</div>
    

{% endblock content %}